 
.sec1-div{
    height: 800px;
    background-image: url(../images/airplane3.jpg.sb-4f4501b5-cK8GlM
    );
    background-size: 1500px;
}
    

header{

    display:inline;
    margin-bottom: 48px;
   
    
}

img{
    display: flex;
    width: 80px;
    height: 50px;
    margin-top: 48px;
}
nav{
    display: inline-block;
}



ul{
    display: inline-block
}

li{
    display: inline-block;
}
.imgdiv1{
display: flex;
justify-content: flex-start;
}



a{
    display: inline-block;
    margin-top: 48px;
    margin-right: 50px;
     margin-left: 90px; 
    color: #FFF;
    font-family: DM Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    }

    

.sec-1{
    margin-top: 100px;
    
    
}

.container{
    width: 1277px;
    margin: 0 auto;
}

h2{
    width: 600px;
    height: 260px;
    color: #FFF;
    
    font-family: Roboto;
    font-size: 80px;
    font-style: normal;
    font-weight: 800;
    line-height: 130px; /* 108.333% */
    text-transform: uppercase;
}

.reddiv{
    display: flex;
    width: 200px;
    height: 76px;
    padding: 20px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
    border-radius: 211px;
    background: var(--main-red, #c7ca0bd0);
    
}

.reddiv:hover{
   background-color: rgba(232, 243, 12, 0.658);
   border: 2px solid rgba(27, 42, 201, 0.981);
}

footer{
    background-color: #c45a8a9c;
    height: 136px
   
}



.a2{
    display: inline-block;
    margin: 58px 25px 50px 25px;
    color: #FFF;
    font-family: DM Sans;
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;  
}

.fa-brads{
    margin: 0 22 0 720;
   
}

/* secrion2 */

.sec-2{
    /* background: linear-gradient(180deg, #0a0253d6 0%, rgba(0, 190, 172, 0.00) 100%); */
    background-color:  hsl(221, 89%, 7%);;
   background-image:url(../images/back-img.png);
   background-repeat: no-repeat;
  
    ;
}


.h3div{
    display: flex;
    justify-content: center;
}

h3{
    
    /* display: flex; */
    width: 615px;
    height: 52px;
    /* flex-direction: column;
    justify-content: center; */
    flex-shrink: 0;
    color: var(--blue-background, #030d18);
    text-align: center;
    font-family: DM Sans;
    font-size: 40px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%; /* 75px */
    /* margin-left: 300px; */
}

.imgdiv{
    display: flex;
    justify-content: space-around;
}


.sec-2img{
    margin-top: 100px;
    /* display: inline-block; */
    /* margin-left: 31px; */
    width: 300px;
    height: 200px;
    flex-shrink: 0;
    border-radius: 10px;
    background: url(<path-to-image>), lightgray 50% / cover no-repeat;
}

.pdiv{
    display: flex;
    justify-content: center;
}

p{
    width: 500px;
    /* height: 100px; */
    height: 1300px;
    margin-top: 60px;
    font-family: "ALK Sanet", sans-serif;
   
}

.back-colourdiv{
    background-color:  hsl(221, 89%, 7%);
}

/* section3 */


.sec-3{
    background-image: url(../images/back-img1.png);
    height: 1200px;
   
}    

.h4div{
    display: flex;
    justify-content: center;
}

h4{
        width: 1000px;
        height: 142.643px;
        flex-shrink: 0;
        color: var(--colors-white, #FFF);
        text-align: center;
        font-feature-settings: 'clig' off, 'liga' off;
         /* H3 */
        font-family: DM Sans;
        font-size: 42px;
        font-style: normal;
        font-weight: 700;
        line-height: 50px; /* 119.048% */
        margin-top: 100px;
        
    }

    .mshobeli-div{
        display: flex;
        justify-content: center;
       
    }

    .background-div{
     background-image: url(../images/young\ traveller.jpg);
    width: 627px;
    height: 414px;
    margin-top: 100px;
    }

    .card{
        
    
    }

    .cardimg{
        width: 233px;
        height: 151px;
        flex-shrink: 0; 
        display: inline-block;
        vertical-align: text-top;
    }

    
    

    h6{
        width: 233.143px;
        height: 35.661px;
        flex-shrink: 0;
        text-align: start;
        display: inline;
        vertical-align: text-bottom;
        margin-bottom: 500px;
    }

    .cardp{
        width: 300px;
        height: 120px;
        flex-shrink: 0;color: var(--colors-white, #FFF);
        font-feature-settings: 'clig' off, 'liga' off;

        /* Paragraph Light */
        font-family: DM Sans;
        font-size: 18px;
        font-style: normal;
        font-weight: 300px;
        line-height: 28px; /* 155.556% */
        letter-spacing: 0.5px;
        margin-left: 50px;
        display: inline-block;
        vertical-align: text-bottom;
    
    }